# Flutter e Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
coverage/
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# Node (testes das regras)
node_modules/
firestore-debug.log
firebase-debug.log
ui-debug.log

# Evidências e logs baixados do CI
maestro-evidencias/
maestro-relatorio.xml
*.log