<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissão de internet para o modo de desenvolvimento. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Permite conexão sem HTTPS apenas na versão de depuração, usada pelos
         testes de ponta a ponta para falar com os emuladores do Firebase. -->
    <application android:usesCleartextTraffic="true" />
</manifest>
